*{
    padding: 0;
    border: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}
.login,.signup{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form-container{
    height: 340px;
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.329);
    border-radius: 10px;
    border: 1px solid #7070703f;
}
.container--inner input{
    border-bottom: 1px solid rgba(123, 119, 119, 0.453);
    padding: 8px 8px 8px 40px;
    width: 300px;
}

.container--inner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 230px;
    width: 350px;
}

.form-container span{
    margin-top: 15px;
    color: #F64646;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}


.container--inner  button{
    margin-top: 20px;
    background-color: #F64646;
    color: #fff;
    padding: 10px 25px;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.301);
}

button:hover{
    cursor: pointer;
}

.container--inner img{
    width: 18px;
    position: absolute;
}

.icon{
    position: relative;
}
.email img{
    top: 9px;
}

.enroll-no img{
    top: 4px;
}